<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    
    <title>NASA Mars News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--ADD ALT TO IMAGES!-->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class= "navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class ="container fluid">
        <a class="navbar-brand" href="#"><img src="../static/img/mars_logo.jpg" width ="75" height ="75"></a>
    </div>
    </nav>
    <div class="container-fluid">
        <div id= "slides" class="carousel slide" data-ride="carousel">
            <ul class ="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
            </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src= "../static/img/mar_img.jpeg">
                <div class="carousel-caption">
                    <h1 class = "display-2">
                     Mars  
                    </h1>
                    <h3>An Amzaing Exploration</h3>
                    <a class="button" href="https://www.nasa.gov/vision/universe/solarsystem/mer-010305.html" target="_blank">
                        <button type ="button" class="btn btn-outline-light btn-lg">
                        Mission News
                        </button>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src= "../static/img/robot_mars.jpg" height= "597" width= "1200">
                <div class="carousel-caption">
                        <h5 class = "display-6">
                         <em>"... in the foreseeable future, we intend to go to Mars, 
                         building upon the findings by the rovers." </em>
                        </h5>
                        <h6>- Dr. Firouz Naderi of JPL, <br>Manager of NASA's Mars Exploration Program</h6>
                        
                </div>
            </div>
        </div>  
            
        </div>
        <hr>
    <div class="container-fluid">
    <div class="row jumbotron text-center">
        <div class ="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <h1 class="display-4">Mission to Mars</h1>
        </div>
        <div class= "col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <p><a class="btn btn-outline-secondary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div> 
    </div> 
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-12 col-lg-12">
                <h3 class= display-4>Latest Mars News</h3>
                <h4>{{mars_info_data.News_Title}}</h4>
                <p>{{mars_info_data.News_Body}}</p>

            </div>

        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <br> <!--Maybe take this out.. idk-->
                <h1>Featured Image</h1>
                <img class="img-fluid" src="{{mars_info_data.Mars_Featured_Image}}"> 
                
            </div>
            <div class = "col-sm-12 col-md-3 col-lg-3">
                <!-- HAVE THE TABLE AND card here -->
                <!--make a fluid thing for table and card-->
                <div class="card" style="width: 23rem;">
                    <div class="card-body">
                        <h4 class="card-title">Tweet:</h4>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted">Information found on twitter</h6>
                        <hr>
                        <p class="card-text">{{mars_info_data.Mars_Weather_Tweet}}</p>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 panel panel-default">
                <div class="panel-body">
                    <h2 class= "text-center">Mars Facts</h2>
                    <hr>
                    <p style="border-style:solid;border-color:rgb(88, 124, 88);border-width:2px;border-radius:2px">{{mars_info_data.facts | safe}}</p>
                </div>
            </div>
    
        </div>
    </div>
    <hr class= "my-4">
    <figure class= grey>
        <div class ="fixed-wrap">
            <div id="fixed">
                <img class=img-fixed src="../static/img/mars_background.jpg" >
            </div>
        </div>
    </figure>
    <button class="fun btn btn-default btn-sm" data-toggle="collapse" data-target="#emoji">
        space
    </button>
    <div id ="emoji" class="gif_back collapse">
        <div class="container-fluid padding">
            <div class ="row text-center">
                <div class="col-sm-12 col-md-12">
                    <img class="gif" src="../static/img/gif/stomping.gif">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row mars text-center">
            <!--maybe change the welcome class-->
            <div class="col-12">
                <h1 class =display-4><strong>Mars Hemispheres</strong></h1>
                
            </div>
        </div>
        <hr class="my-1">  
    </div>
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{mars_info_data.img_url1}}"> <!--FIGURE OUT SOURCE-->
                    <div class="card-body">
                        <h4 class="card-title">{{mars_info_data.title1}}</h4> <!--WHERE YOU PUT THE TITLE -->
                    </div>
                    
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{mars_info_data.img_url2}}"> <!--FIGURE OUT SOURCE-->
                    <div class="card-body">
                        <h4 class="card-title">{{mars_info_data.title2}}</h4> <!--WHERE YOU PUT THE TITLE -->
                    </div>
                        
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{mars_info_data.img_url3}}"> <!--FIGURE OUT SOURCE-->
                    <div class="card-body">
                        <h4 class="card-title">{{mars_info_data.title3}}</h4> <!--WHERE YOU PUT THE TITLE -->
                    </div>
                        
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="{{mars_info_data.img_url4}}"> <!--FIGURE OUT SOURCE-->
                    <div class="card-body">
                        <h4 class="card-title">{{mars_info_data.title4}}</h4> <!--WHERE YOU PUT THE TITLE -->
                    </div>
                        
                </div>
            </div>
        </div> 
    </div>
    <hr>
    <footer>
        <div class ="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-12">
                    <p>
                    <em>"Exploration is really the essence of the human spirit."
                    </em>
                    </p>
                    <h6 class =author>
                    - Frank Borman
                    </h6>
                </div>
                <div class="col-12">
                    <hr class="light">
                    
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>